/* CSS for ChiliPeppr Widget */

#com-zipwhip-widget-svg2gcode {
   
}

#com-zipwhip-widget-svg2gcode .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-zipwhip-widget-svg2gcode .tab-pane {
    padding-top:10px;
}

.btn-render {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border:0;
}