/* CSS for ChiliPeppr Widget */

#com-zipwhip-widget-svg2gcode {
    
}
#com-zipwhip-widget-svg2gcode .panel-body{
    /*padding:6px 14px;*/
    max-height:330px;  
    overflow-y:auto;
}

#com-zipwhip-widget-svg2gcode .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-zipwhip-widget-svg2gcode .tab-pane {
    padding-top:10px;
}

.btn-render {
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border:0;
}

div.com-zipwhip-widget-svg2gcode-textbox {
    width:130px;
    z-index:1;
}
.com-zipwhip-widget-svg2gcode-textbox .input-group .form-control {
    font-size:11px;
    padding:0 0 0 8px;
    height:26px;
}
.com-zipwhip-widget-svg2gcode-textbox .input-group .input-group-addon {
    padding:0;   
}

#com-zipwhip-widget-svg2gcode-alignbox .input-group.input-group-small {
    width:82px;
}
#com-zipwhip-widget-svg2gcode-alignbox .input-group.input-group-small .input-group-addon {
    font-size:11px;
    padding:0 6px;
}

#com-zipwhip-widget-svg2gcode-alignbox .input-group-small .form-control {
    font-size:11px;
    padding:0 0 0 8px;
    margin:0;
    height:26px;
}